
<div class="container-fluid bg-light">
    <div class="row p-5">
        <div class="col-9">
            <h1>The First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore id similique in voluptate ducimus iste magnam saepe sed recusandae labore, voluptatibus numquam cumque eligendi. Deserunt facere id quisquam magnam labore?</p>
        </div>
        <div class="col-3">
            <img class="img-fluid rounded-circle" src="https://images.ecestaticos.com/BKAPCaSyKcRhxQf2g9Q5yrdsxHM=/107x0:1438x899/1440x1080/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F4d1%2F8cf%2Fdaf%2F4d18cfdaf4cd3dd6743b27a8c476ebf3.jpg" alt="Breaking">
       
        </div>
    </div>
</div>
